/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {

    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    font-family: Helvetica, Arial, Tahoma;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    
    width:100%;
}

/* Portrait layout (default) */
.app {
    overflow-y: hidden;
    background:url(../assets/body/body_background.png) top; /* 170px x 200px */
    background-repeat: repeat-x repeat-y;
    position:absolute;             /* position in the center of the screen */
    left:0px;
    /*height:calc(100%-60px);                   *//* text area height */
    width:100%;                   /* text area width */
    text-align:center;
    /*z-index:99;                               *//* offset horizontal: half of text area width */
}
.page{
    background:url(../assets/body/body_background.png) top; /* 170px x 200px */
    background-repeat: repeat-x repeat-y;
    position:absolute;             /* position in the center of the screen */
    height:100%;                   /* text area height */
    width:100%;                   /* text area width */
}
.app.loading{
    background:url(../assets/body/body_background.png), url(../assets/header/header_logo.png) top; /* 170px x 200px */
    background-repeat: repeat-x repeat-y, no-repeat;
    background-position: left, top, center;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        //background-position:left center;
        /*padding:75px 0px 75px 170px;  *//* padding-top + padding-bottom + text area = image height */
        /*margin:-90px 0px 0px -198px;  *//* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

@media screen and (min-width: 768px) {
    /*@media screen and (min-width:768px)*/
    .content-item {
        width: calc(50% - 50px) !important;
        display: inline-block;
        margin-left: 20px !important;
    }

}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    color: white;
    font-size: 17px;
    padding: 5px;
    margin-bottom: 2px;
}
li:hover{
    cursor:pointer;
}
li.selected{
    background-color: rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px 1px rgba(0,0,0,0.5);
}
input:focus,
button:focus{
    outline:0;
}
input{
    border-radius: 15px;
    background-color: rgba(0,0,0,0.5);
    border-top: solid 3px rgba(0,0,0,0.6);
    border-left: solid 3px rgba(0,0,0,0.6);
    border-right: solid 3px rgba(0,0,0,0.1);
    border-bottom: solid 3px rgba(0,0,0,0.1);
    color: white;
    padding: 4px;
    padding-right: 30px;
    width: calc(100% - 5px);

}

.animate {
    transition: all 0.2s ease-in-out;
}
.main-page{
    position: fixed;
    width:100%;
    height:100%;
}
.header {
    height: 30px;
    position: fixed;
    padding-top: 18px;
    padding-bottom: 8px;
    text-align: center;
    width: 100%;
    color: white;
    text-shadow: none;
    font-weight: bold;
    font-size: 24px;
    background-image: url(../assets/header/header_background3d.png);
    box-shadow: 0px 0px 5px 2px black, inset 0px 15px 20px 0px rgba(0,0,0,0.5);
    z-index: 10;
}
.search-bar{
    width: calc(100% - 50px);
    display: inline-block;
    position: relative;
    top: -17px;
}
.menu{
    float:left;
    background: transparent;
    border: 0;
    height: 60px;
    width:60px;
    background-image: url("../assets/header/header_logo2.png");
    background-position:0px 0px;
    background-size: 70px;
    background-repeat:no-repeat;
}
.refresh{
    float:right;
    height: 60px;
    background: transparent;
    width:35px;
    border:0;
    background-image: url("../assets/header/refresh.png");
    background-position:0px 0px;
    background-size: 30px;
    background-repeat:no-repeat;
}
.navigation{
    text-align:left;
    padding:20px;
    width:200px;
    height:100%;
    left:-240px;
    top:55px;
    position: absolute;
    background-image: url(../assets/navbar/nav_background3.png);
    background-repeat: repeat;
    z-index:9;
}
.navigation.nav-shown{
    left:0px;
}
.content-page{
    position: fixed;
    top:55px;
    padding-top:5px;
    height:100%;
    width:100%;
}
.search-button{
    border-radius:5px;
}
.content-container{
    height:calc(100% - 103px);
    padding-top:20px;
    padding-bottom:20px;
    width:100%;
    overflow-y: auto;
}
.content-item{
    width:calc(100% - 80px);
    padding:5px;
    height:auto;
    background-color:white;
    margin-left:40px;
    margin-bottom: 20px;
}
.content-item .play-icon{
    float: right;
    margin-bottom: -40px;
    z-index: 2;
    position: relative;
    width:40px;
}
.content-item:hover{
    cursor:pointer;
}
.content-item img{
    width:calc(100% - 20px);
}
.ci-title{
    font-weight:bold;
    font-size:18px;
    color:maroon;
}
.content-popup{
    box-shadow: 0 0 5px 0 black;
    background-color: whitesmoke;
    margin: 10px;
    height:calc(100% - 50px);
    width:calc(100% - 40px);
    position: fixed;
    top: 10px;
    z-index: 10;
    overflow:auto;
    padding:10px;
}
.content-popup iframe{
    width:100% !important;
}
.popup-closer i {
    font-size:18px;
    color:white;
}
.popup-closer {
    background-color: maroon;
    border-radius: 20px;
    position: fixed;
    top: 10px;
    left: 5px;
    border: solid 1px white;
    width: 30px;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.popup-closer:hover{
    cursor:pointer;
}